<!DOCTYPE html>
<html>

<head>
	<meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=0">
	<title>Abhijit Chatterjee - JS Enthusiast, Scrum Master</title>
	<link rel='stylesheet' href='bundle.css'>
</head>

<body>
	<div class="console">
		<div class="version">
			<p>./site_terminal.js - Version 0.5.8 - 2019 - Abhijit Chatterjee</p>
			<br>
		</div>
		<br>
		<a href="mailto: info@abhijitchatterjee.com">
			<<<<<<<<<<<&nbsp;Click to Email Me&nbsp;>>>>>>>>>>
		</a>
		<br>
		<br>
		<br>
		<div class="info"></div>
		<br>
		<div class="console-output"></div>
		<div class="root">
			<span id="user"></span>
			<input type="text" style="width: 200px;" id="terminal" autocomplete="off" autofocus>
		</div>
	</div>
</body>

</html>